.custom-nav a{
 text-decoration: none;
 margin-right: 30px;
 color: rgb(12, 190, 190);
}
.custom-nav{
    display: flex;
    align-items: center;
}
.custom-brand{
    color: rgb(6, 168, 168);
}

@media screen and (max-width:500px) {
    .custom-nav {
        flex-direction: column;
        align-items: flex-start;

    }
    .custom-nav a{
        margin-top: 20px;
    }
}